parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with array\<0\|1\|2, resource\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Runners/CliRunner.php
